body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logotipo{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border-right: 0.07rem solid white;
    border-bottom: 0.03rem solid white;
}

.navbar{
    width: 100%;
    padding: 0;
    padding-top: 5px;
    background-color: dodgerblue;
}

.textoNavbar{
    color: white;
    font-weight: 450;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-menu{
    background-color: dodgerblue;
}

nav{
    height: 60px;
}

.footerContainer{
    margin-top: auto;
}

.fondoFooter{
    width: 100%;
    padding: 0;
    padding-top: 5px;
    background-color: dodgerblue;
}

.footer{
    margin-top: auto;
    color: white;
}

.colorInmobiliria{
    color: white;
    font-size: x-large;
    width: auto;
}

.redesSociales{
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.contenedorRedesSociales{
    margin-right: 100px;
}

.colorLinea{
    color: white;
}

hr{
    margin-left: 10%;
    margin-right: 10%;
}

.ultimoTexto{
    color: white;
}

.derechosReservados{
    display: flex;
    justify-content: end;
}

.photoCarousel{
    height: 300px;
}

.servicios{
    margin: 20px auto;
}

.card{
    border-radius: 10px;
}

.card-img-top{
    width: 17.5rem;
    height: 15rem;
    margin: auto;
}

.card-title{
    font-weight: bold;
    text-align: center;
}

.card-text{
    text-align: justify;
}

.card-body{
    color: white;
    background-color: dodgerblue;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fotosOpiniones{
    width: 200px;
}

.texto{
    margin-left: 40px;
    text-align: justify;
    margin-right: 40px;
}

#labelOpiniones{
    text-align: center;
}

.image{
    height: 7rem;
    margin: .5rem;
}

#galeria{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group-text{
    background-color: dodgerblue;
    color: white;
}

input{
    width: 95%;
    border-radius: 5px;
    border: 1px solid tan;
    outline: none;
}

input:focus{
    border: 2px solid slategrey;
}

.inputError{
    width: 95%;
    border-radius: 2px;
}

.inputError input{
    width: 100%;
    margin-left: 2.5%;
    border-radius: 5px;
    border: 1px solid red;
}

.identificadorError{
    color: red;
}

.identificadorOk{
    color: green;
}

small{
    display: block;
}

.inputOk{
    width: 95%;
    border-radius: 2px;
}

.inputOk input{
    width: 100%;
    margin-left: 2.5%;
    border-radius: 5px;
    border: 1px solid green;
}

/* .fotoOferta{
    width: 100px;
    height: auto;
    border-radius: 5px;
    display: inline;
} */

select{
    width: 95%;
    height: 28px;
    border-radius: 5px;
    border: 1px solid tan;
    outline: none;
}

select:focus{
    border: 2px solid green;
}